<form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
    <label>Enter your index:</label>

    <input required type="text" pattern="[0-9]{1,2}" pInputText [(ngModel)]="id" name="id" />
    <p-button type="submit" [disabled]="!postForm.valid" label="Get Values!!!"></p-button>
</form>
<!-- Just text module will not work, have to include formsmodule as well-->

<h3>Indexes I have seen:</h3>
{{numbers| join:','}}

<h3> Calculated values are:</h3>


<p-table [value]="calValues">
    <ng-template pTemplate="header">
        <tr>
            <th>Input</th>
            <th>Sum values</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-calVal>
        <tr>
            <td>{{calVal.inp}}</td>
            <td>{{calVal.fibVal}}</td>
        </tr>
    </ng-template>
</p-table>